# Python Bytecode and Cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# ML & Model Weights (Auto-downloaded on runtime)
*.pt
*.onnx
*.pkl
*.bin

# Environment & Temp
.env
.venv/
env/
venv/
ENV/
*.tmp
temp_generated.mid
temp_generated.wav

# Streamlit
.streamlit/

# OS specific
.DS_Store
Thumbs.db
